{{#with article}}
<div class="article row">
    <div class="article-title"><a href="/article/{{_id}}">{{title}}</a></div>
    <div class="article-content">{{{content}}}</div>
    <div class="article-tags">
        Tags:
        {{#each tags}}
            <span class="article-tag">{{this}}</span>
        {{/each}}
    </div>
    <div class="article-url"><a href="{{url}}">{{url}}</a></div>
</div>
{{/with}}